<h1> <%= @cat.name %> </h1>
<ul>
  <li>
    <li> <%= @cat.sex %> </li>
    <li> <%= @cat.color %> </li>
    <li> <%= @cat.birth_date %> </li>
    <li> <%= @cat.description %> </li>
    <br>
  </li>

</ul>
